.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 33px;
}

.dropdown__head {
    position: relative;
    background: var(--color-tomato);
    color: var(--color-white);
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 24px;
}

.dropdown__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
}

.dropdown__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background: #F7F7F7;
    padding: 18px;
    font-size: 18px;
    border-radius: 5px;
    height: 100%;
}

.dropdown__body.close {
    display: none;
}
