.tags {
    display: flex;
    column-gap: 10px;
}

.tag {
    background: var(--color-tomato);
    color: var(--color-white);
    padding: 3px 40px;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .tags {
        font-size: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .tag {
        padding: 2px 20px;
    }
}
