.cards__list {
    width: 100%;
    background: var(--bg-color-light-gray);
    border-radius: 25px;
    padding: 56px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
}

.cards__list a {
    color: var(--color-white);
}

.cards__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background-size: cover;
    transition: 0.3s all ease;
}

.cards__item:hover {
    transform: scale(1.05);
}

.cards__item-opacity-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}

.cards__item-title {
    width: 100%;
    padding: 20px;
    margin: 0;
    z-index: 1;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .cards__list {
        background: none;
        padding-top: 26px;
        padding-bottom: 0;
        row-gap: 20px;
    }

    .cards__item {
        height: 225px;
    }
}
