.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--color-tomato);
}

.not-found__code {
    font-size: 288px;
    font-weight: 700;
    margin-top: 175px;
}

.not-found__description {
    font-size: 36px;
}

.not-found__link {
    font-size: 18px;
    border-bottom: 2px solid var(--color-tomato);
    margin-top: 150px;
}
