.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.navbar__logo {
    width: 210px;
    height: 68px;
    object-fit: cover;
}

.navbar__links {
    margin: 0;
    padding: 0;
    display: flex;
    color: var(--color-tomato);
    font-size: 24px;
}

.navbar__link .active {
    border-bottom: 3px solid var(--color-tomato);
}
