.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.navbar__logo {
    width: 210px;
    height: 68px;
    object-fit: cover;
}

.navbar__links {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 20px;
    color: var(--color-tomato);
    font-size: 24px;
}

.navbar__link .active {
    border-bottom: 3px solid var(--color-tomato);
}

@media screen and (max-width: 576px) {
    .navbar {
        padding: 20px 0;
    }

    .navbar__logo {
        width: 145px;
        height: 47px;
    }

    .navbar__links {
        font-size: 12px;
        text-transform: uppercase;
        column-gap: 10px;
    }

    .navbar__link .active {
        border-bottom: 1px solid var(--color-tomato);
    }
}
