.banner {
    position: relative;
    width: 100%;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 43px;
    border-radius: 25px;
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
}

.banner__opacity-filter {
    position: absolute;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.banner__title {
    z-index: 1;
}
